.footer{
    margin: 50px 170px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-top{
    justify-content: space-between;
}

.footer-bottom {
    padding-top: 50px;
    justify-content: space-between;
}

.footer-bottom-down p{
    text-align: center;
    font: 30px;
}

.footer-bottom-right{
    display: flex;
    justify-content: end;
    gap: 40px;
}

.footer-bottom-right img{
    position: relative;
    top: -125px;
    cursor: pointer;
}

@media(max-width:768px){
    .footer{margin: 50px 70px}

    .footer-top{
        flex-direction: column;
        gap: 50px;
    }

    .footer-bottom{
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 50px;
    }

    .footer-bottom-right img{
        top: -100px;
    }

}